*{
  align-items: center;
  
}
body{
    overflow-x:hidden;
}



#logo{
    float: left;
    color: rgb(79, 77, 77);
    font-family: monospace;
}
.container{
    border: 4px;
   
    
  
}
   

.box{
    position: relative;
    top:10px;
    right:10px;
    float: right;
    background-color: rgb(185, 228, 242);
    height: 45px;
    width: 95px;
    border-radius: 10%;
    align-content: center;
    justify-items: center;
    text-align: center;
   
    color: rgb(16, 172, 225);
   
   
}
.container1{
    border: 4px;
   
    
  
}
   

.box1{
    gap: 10px;
    position: relative;
    top:10px;
    right:10px;
    background-color: rgb(66, 149, 212);
    height: 45px;
    width: 220px;
    border-radius:10px;
    align-content: center;
    justify-items: center;
    text-align: center;
   position: relative;
   left:10%;
  
   margin: 15px;
  
    color: rgb(255, 255, 255);
   
   
}
li{
    align-items: center;
    justify-content: center;
    align-content:center ;
    margin: 10px;
    padding: 10px;
    gap: 10px;
   
}
ul{
    list-style: none;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: rgb(61, 61, 59);
   
   
}
ul>li{
    text-decoration: none;
    
    
    
}

li{
    display: inline-block;
    
    
}
h1{
   line-height: 60px;
    border: 0px;
    margin: 0px;
    font-size:50px ;
    font-family:sans-serif ;
    position: relative;
    left: 10%;
    text-align: left;
    
}
 #H{
    color: grey;
   
    
   
   
}
#H1{
    color: rgb(31, 146, 218);
 
   
} 

img{
    float: right;
    height: 500px;
    width: 500px;
    position: relative;
    right: 10%;
    
    
    
    
}

p{
    
    text-align: left;
    margin: 0px;
    padding: 0px;
    flex-basis: 30%;
    position: relative;
    left:10%;
    width: 40%;
    color: grey;
}
div{
    flex-basis: 30%;
     font-size: 1.5rem;
    text-align: center;
    position: relative;
    
}

    
